.box-body {
  .table {
    td {
      img {
        width: 100px;
        height: 150px;
        border-radius: 0;
      }
    }
  }
}
#toast-container > div {
    opacity:1;
}
.breadcrumb{
    background-color: #F4F7FA;
}