#myCarousel {
  position: relative;
  // margin-top: 60px;
  &:hover {
    .playTrailer {
      opacity: 0.7;
      color: $color-main;
      &:hover {
        opacity: 1;
        color: $color-main;
      }
    }
  }
  .tabSearch {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    border-radius: 5px;
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 4px gray;
    .block {
      width: 25%;
      box-sizing: border-box;
      text-align: center;
      a:not([href]):not([tabindex]) {
        cursor: pointer;
        font-size: 16px;
        color: white;
        text-decoration: none;
        border: 1px solid $color-main;
        border-radius: 5px;
        padding: 5px;
        background-color: $color-main;

        @include transition(font-size 0.3s, text-shadow 0.3s);
        &:hover {
          font-size: 20px;
          text-shadow: 2px 2px 4px $color-shadow;
        }
      }
      a.active {
        font-size: 20px !important;
        text-shadow: 2px 2px 4px $color-shadow;
      }
    }

    select.itemSearch {
      width: 100%;
      height: 50px;
      border: none;
      border-right: 1px solid rgb(185, 182, 182);
      padding: 0 10px;
      outline: none;

      option {
        text-overflow: ellipsis;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:checked:hover,
        :checked:focus {
          background-color: $color-shadow !important;
          cursor: pointer;
        }
      }
    }
    
    // .itemSearch.last-item {
    //   border-right: none;
    // }
  }
  // css cho carousel
  .owl-theme {
    .owl-dots {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translate(-50%);
      .owl-dot {
        span {
          border-radius: 50%;
          width: 13px;
          height: 13px;
          background-color: $color-chuNavbar;
        }
        &.active,
        &:hover {
          span {
            background-color: $color-main;
          }
        }
      }
    }
  }
}
