#myCarousel {
  position: relative;
  // margin-top: 60px;
  &:hover {
    .playTrailer {
      opacity: 0.7;
      color: $color-main;
      &:hover {
        opacity: 1;
        color: $color-main;
      }
    }
  }

  // css cho carousel
  .owl-theme {
    .owl-dots {
      position: absolute;
      bottom: 2%;
      left: 50%;
      transform: translate(-50%, -2%);
      .owl-dot {
        span {
          border-radius: 50%;
          width: 13px;
          height: 13px;
          background-color: $color-chuNavbar;
        }
        &.active,
        &:hover {
          span {
            background-color: $color-main;
          }
        }
      }
    }
  }
}
