<div class="newsFilm">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
            src="./assets/img/news/sieu-pham-kinh-di-chung-ta-nhan-mua-loi-khen-15525405922012.jpg"
            data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text">Siêu phẩm kinh dị Chúng Ta nhận mưa lời khen. Tiếp nối cơn sốt Get Out, đạo diễn Jordan
              Peele lại cho ra mắt một tác phẩm kinh dị có một không hai.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/shazam-sieu-anh-hung-nha-dc-noi-tiep-thanh-cong-vang-doi-cua-aquaman-15524677708606.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Shazam - siêu anh hùng nhà DC nối tiếp thành công vang dội của Aquaman. Shazam đang
              được giới phê bình khen ngợi hết lời và được dự đoán sẽ trở thành hiện tượng siêu anh hùng mới
              của năm 2019.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/lat-mat-4-tung-trailer-he-lo-chuyen-ma-den-choi-nha-vua-so-vua-hai-15523792375152.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Lật Mặt 4 tung trailer hé lộ chuyện 'ma đến chơi nhà’ vừa sợ vừa hài. Phần 4 của series
              Lật Mặt khiến khán giả vừa tò mò vừa thích thú với câu chuyện hội trai ‘lầy’ gặp ma khi ghé nhà người lạ.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/my-nhan-sunny-yoo-ho-jeong-tro-lai-man-anh-voi-vai-ba-me-idol-15523661254162.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Mỹ nhân ‘Sunny’ Yoo Ho Jeong trở lại màn ảnh với vai bà mẹ idol. Trong Đóa Hồng Của
              Tôi, Yoo Ho Jeong hóa thân thành một người mẹ có quá khứ ca hát bùng nổ.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" src="./assets/img/news/xem-gi-thang-3-ngoai-captain-marvel-15516839471457.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Xem gì tháng 3 ngoài Captain Marvel? Bom tấn Marvel không phải là tựa phim hấp dẫn duy
              nhất trong tháng 3 rực lửa.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/huyen-thoai-manga-son-goku-tai-xuat-man-anh-rong-voi-ke-thu-moi-cuc-ba-dao-15515820481617.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Huyền thoại manga Son Goku tái xuất màn ảnh rộng với kẻ thù mới cực bá đạo. Tập phim lẻ
              thứ 20 của thương hiệu Dragon Ball đã gây sốt ở nhiều nước trên thế giới đầu năm 2019.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/luong-ve-ban-som-cua-captain-marvel-vuot-mat-aquaman-15508077937738.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">Lượng vé bán sớm của Captain Marvel vượt mặt Aquaman. Bộ phim siêu anh hùng thứ 21 của
              MCU đang trên đà làm bùng nổ phòng vé toàn cầu.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/diep-vien-kingsman-chay-het-minh-khi-hoa-than-thanh-huyen-thoai-am-nhac-elton-john-15508099872203.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">‘Điệp viên Kingsman’ cháy hết mình khi hóa thân thành huyền thoại âm nhạc Elton John.
              Sau Bohemian Rhapsody, Rocketman hứa hẹn sẽ gây bão khi tái hiện cuộc đời Elton John qua màn hóa thân của
              Taron Egerton.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>