<div class="card m-2 cardMovieItem">
  <div class="cardMovieItem-img">
    <img src="{{movie.HinhAnh}}" alt="Image Movie">
  </div>
  <div class="cardMovieItem-body">
    <h4 class="cardMovieItem-title pt-2">{{movie.TenPhim}}</h4>
    <!-- <p class="cardMovieItem-text pt-2">{{movie.NgayKhoiChieu}}</p> -->
    <button routerLink="/chitietphim/{{movie.MaPhim}}" class="btn btn-success">Chi tiết</button>
  </div>
</div>

<div class="card m-2 cardMovieItem" *ngIf="false">
  <img src="{{movie.HinhAnh}}" alt="Image Movie">
  <div class="cardMovieItem-body">
    <h4 class="cardMovieItem-title p-2">{{movie.TenPhim}}</h4>
    <!-- <p class="cardMovieItem-text p-2">{{movie.NgayKhoiChieu}}</p> -->
    <button routerLink="/chitietphim/{{movie.MaPhim}}" class="btn btn-success">Chi tiết</button>
  </div>
</div>