<div class="cardMovieItem">
  <div class="cardMovieItem-img">
    <img src="{{currentMovie.HinhAnh}}" alt="Image Movie">
  </div>
  <div class="cardMovieItem-body">
    <h4 class="cardMovieItem-title">{{currentMovie.TenPhim}}</h4>
    <p class="cardMovieItem-text">
      <i class="fa fa-star"></i>
    </p>
  </div>
  <button routerLink="/chitietphim/{{currentMovie.MaPhim}}" class="btn btn-outline-danger my-btn">MUA VÉ</button>

  <button title="Xem Trailer" type="button" class="btn playTrailer" data-toggle="modal" data-target="#modalTrailer">
    <i class="fa fa-play-circle"></i>
  </button>
</div>

<!-- <app-play-movie-trailer [srcTrailer]="srcTrailer"></app-play-movie-trailer> -->