<div class="movieDetail">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12 pb-4">
        <div class="movie-img sticky-sb">
          <img src="{{phim.HinhAnh}}" alt="">
          <div class="movie-btn text-center">
            <div><button class="btn  my-btn w-75 my-3" (click)="getUrlEvent(phim.Trailer)"><i class="fa fa-play"></i>
                Xem
                Trailer</button>
            </div>
            <div *ngIf="phim.LichChieu.length>0"><button class="btn  my-btn w-75" (click)="isSelelect=1"><i
                  class="fa fa-ticket"></i> Mua Vé</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="main-content">
          <h1 class="titleMovie mb-4">{{phim.TenPhim}} <span>{{phim.NgayKhoiChieu | date:'yyyy'}}</span>
          </h1>
          <div class="movie-rate d-flex justify-content-start align-items-center">
            <div class="rate cardMovieItem-text d-flex justify-content-start align-items-center">
              <i class="fa fa-star"></i>
              <p><span>8.1</span> /10<br>
                <span class="rv">56 Reviews</span>
              </p>
            </div>
            <div class="rate-star d-flex justify-content-center align-items-center">
              <p>Rate This Movie: </p>
              <p class="cardMovieItem-text ml-3">
                <i class="fa fa-star mr-1" *ngFor="let star of stars"></i>
                <i class="fa fa-star-o mr-1" *ngFor="let star of stars_o"></i>
              </p>
            </div>
          </div>

          <div class="movie-tabs">
            <div class="tabs">
              <ul class="tab-links tabs-mv">
                <li><a (click)="isSelelect=1" [ngClass]="{'active': isSelelect==1}" *ngIf="phim.LichChieu.length>0"
                    title="Chọn lịch chiếu">Lịch
                    Chiếu</a></li>
                <li><a (click)="isSelelect=2" [ngClass]="{'active': isSelelect==2}" title="Xem thông tin phim">Thông Tin
                  </a></li>
                <li><a (click)="isSelelect=3" [ngClass]="{'active': isSelelect==3}" title="Xem đánh giá">Đánh Giá</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="isSelelect==1">
                    <div class="row" *ngFor="let lichChieu of phim.LichChieu">
                      <div class="col-md-12">
                        <div class="media">
                          <img width="50" height="50" class="align-self-top mr-3 imgRap" src="{{phim.HinhAnh}}"
                            alt="Generic placeholder image">
                          <div class="media-body">
                            <h5 class="mt-0"><span>{{lichChieu.Rap.TenRap}}</span></h5>
                            <p><span class="my-0 mr-3"><b>Thời lượng:</b> {{lichChieu.ThoiLuong}} phút</span>
                              <b>Giá:</b> {{lichChieu.GiaVe |number }}</p>
                            <p class="mb-4 linkDatVe">
                              <a title="Chọn suất chiếu" routerLink="/bookticket"
                                [queryParams]="{MaLichChieu:lichChieu.MaLichChieu,MaPhim:phim.MaPhim,TenRap:lichChieu.Rap.TenRap,NgayChieuGioChieu:lichChieu.NgayChieuGioChieu}"><span
                                  class="mr-3"><b>Ngày
                                    chiếu:</b> {{lichChieu.NgayChieuGioChieu | date:'dd/MM/yyyy'}}</span>
                                <b>Suất chiếu:</b> {{lichChieu.NgayChieuGioChieu | date:'hh:mm' }}</a>
                            </p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="isSelelect==2">
                    <p class="text-justify">{{phim.MoTa}}</p>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="isSelelect==3">
                    <app-review-detail></app-review-detail>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Play Movie Trailer -->
<div id="modalTrailerMovieDetail" class="modal fade modalTrailer" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img src="./assets/img/close.png" alt="">
      </button>
      <div>
        <app-play-movie-trailer *ngIf="isShowModal" [srcTrailer]="currentUrl"></app-play-movie-trailer>
      </div>
    </div>
  </div>
</div>