<div class="container-fluid">
  <div class="row movie_body">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="row mt-5 movie">
        <div class="col-md-6 movie-left">
          <img class="float-left" src="../../../../assets/img/movie01.jpg" alt="">
          <p>12.03.2019</p>
          <p class="name">Mặt trời nhỏ</p>
          <p>90 phút - HD - Full</p>
        </div>
        <div class="col-md-6 movie-right">
          <div class="evaluate">
            <p>8.1</p>
            <div class="evaluate_icon">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-percent"></i>
            </div>
            <span>97 người đánh giá</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12"></div>
      </div>
      <div class="row movie_time">
        <div class="col-md-3">
          <ul>
            <li class="nav-item">
              <a class="nav-link" href="">BHD Star Cineplex</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Galaxy Cinema</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Lotte Cinema</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">CineStar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">DDC - Đống Đa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Mega GS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">CGV Cinemas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Cụm rạp khác</a>
            </li>
          </ul>
        </div>
        <div class="col-md-9">
          <div class="row movie-time-date mt-4">
              <div class="col-md-1 text-center">
                <p>Thứ 2</p>
                <span>11</span>
              </div>
              <div class="col-md-1 text-center">
                <p>Thứ 3</p>
                <span>12</span>
              </div>
              <div class="col-md-1 text-center">
                <p>Thứ 4</p>
                <span>13</span>
              </div>
              <div class="col-md-1 text-center">
                <p>Thứ 5</p>
                <span>14</span>
              </div>
              <div class="col-md-1 text-center">
                <p>Thứ 6</p>
                <span>15</span>
              </div>
              <div class="col-md-1 text-center">
                <p>Thứ 7</p>
                <span>16</span>
              </div>
              <div class="col-md-2 text-center">
                <p>Chủ nhật</p>
                <span>17</span>
              </div>
            </div>
            <div class="tab-content float-left blockContent ng-scope movie-time-detail" id="listSession"
              style="width: 100%; height: 621px;">
              <div class="row mt-3">
                <div class="col-md-12">
                  <img class="float-left" src="../../../../assets/img/slide1.jpg" width="50px" height="50px" alt="">
                  <span>BHD Star Cineplex<b> - 3/2</b></span>
                  <p>
                    <span>L5-Vincom 3/2, 3C Đường 3/2, Q.10</span>
                    <b> [Bản đồ]</b>
                  </p>
                </div>
                <br />
                <div class="col-md-12">
                  <img src="../../../../assets/img/slide2.jpg" width="50px" height="50px" alt="">
                  <a href="">09:00</a>
                  <a href=""> 17:30</a>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-md-12">
                  <img class="float-left" src="../../../../assets/img/slide1.jpg" width="50px" height="50px" alt="">
                  <span>BHD Star Cineplex<b> - 3/2</b></span>
                  <p>
                    <span>L5-Vincom 3/2, 3C Đường 3/2, Q.10</span>
                    <b> [Bản đồ]</b>
                  </p>
                </div>
                <br />
                <div class="col-md-12">
                  <img src="../../../../assets/img/slide2.jpg" width="50px" height="50px" alt="">
                  <a href="">09:00</a>
                  <a href=""> 17:30</a>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-md-12">
                  <img class="float-left" src="../../../../assets/img/slide1.jpg" width="50px" height="50px" alt="">
                  <span>BHD Star Cineplex<b> - 3/2</b></span>
                  <p>
                    <span>L5-Vincom 3/2, 3C Đường 3/2, Q.10</span>
                    <b> [Bản đồ]</b>
                  </p>
                </div>
                <br />
                <div class="col-md-12">
                  <img src="../../../../assets/img/slide2.jpg" width="50px" height="50px" alt="">
                  <a href="">09:00</a>
                  <a href=""> 17:30</a>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-md-12">
                  <img class="float-left" src="../../../../assets/img/slide1.jpg" width="50px" height="50px" alt="">
                  <span>BHD Star Cineplex<b> - 3/2</b></span>
                  <p>
                    <span>L5-Vincom 3/2, 3C Đường 3/2, Q.10</span>
                    <b> [Bản đồ]</b>
                  </p>
                </div>
                <br />
                <div class="col-md-12">
                  <img src="../../../../assets/img/slide2.jpg" width="50px" height="50px" alt="">
                  <a href="">09:00</a>
                  <a href=""> 17:30</a>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-md-12">
                  <img class="float-left" src="../../../../assets/img/slide1.jpg" width="50px" height="50px" alt="">
                  <span>BHD Star Cineplex<b> - 3/2</b></span>
                  <p>
                    <span>L5-Vincom 3/2, 3C Đường 3/2, Q.10</span>
                    <b> [Bản đồ]</b>
                  </p>
                </div>
                <br />
                <div class="col-md-12">
                  <img src="../../../../assets/img/slide2.jpg" width="50px" height="50px" alt="">
                  <a href="">09:00</a>
                  <a href=""> 17:30</a>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-md-12">
                  <img class="float-left" src="../../../../assets/img/slide1.jpg" width="50px" height="50px" alt="">
                  <span>BHD Star Cineplex<b> - 3/2</b></span>
                  <p>
                    <span>L5-Vincom 3/2, 3C Đường 3/2, Q.10</span>
                    <b> [Bản đồ]</b>
                  </p>
                </div>
                <br />
                <div class="col-md-12">
                  <img src="../../../../assets/img/slide2.jpg" width="50px" height="50px" alt="">
                  <a href="">09:00</a>
                  <a href=""> 17:30</a>
                </div>
              </div>

            </div>

        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>