#chitietphim{
    position: relative;
}
.movie_body{
    background-color: rgb(10, 32, 41);
}
.movie{
    color: #fff;
    padding-top: 30px;
    .movie-left{
        img{
            width: 200px;
            height: 280px;
            border-radius: 5px;
            box-shadow: 1px 1px 5px black;
        }
        p{
            font-size: 16px;
        }
        .name{
            font-size: 22px;
        }
    }
    .movie_right{
        .evaluate{
            float: right;
            text-align: center;
        .center{
            width: 117px;
            height: 113px;
            border: 7px solid #7eb634;
            border-radius: 50%;
            position: relative;
            p{
                position: absolute;
                width: 100%;
                z-index: 1;
                left: 2px;
                top: 0;
                line-height: 1.9em;
                font-size: 3.95em;
                color: #fff;
                display: block;
                text-align: center;
                white-space: nowrap;
            }
        }
        .evaluate_icon{
            i{
                color: #fb4226;
                font-size: 23px;
                text-align: center;
                line-height: 38px;
            }
        }
        }
        
    }
}
.movie_time{
    width: 100%;
    height: 500px;
    margin: auto;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    ul li{
        list-style: none;
        line-height: 44px;
        border-bottom: 1px solid #ebebec;
    }
    .movie-time-date{
        border-bottom: 1px solid #ebebec;
        p{
            line-height: 0px;
            font-size: 14px;
            font-weight: 600;
        }
        span{
            font-size: 16px;
            font-weight: 600;
        }
        
    }
    .movie-time-detail{
        /*css scroll*/
        min-height: 380px;
        max-height: 380px;
        overflow-y:auto;
        overflow-x:hidden;
        span{
            color: #8bc541;
            font-size: 15px;
            margin-left: 12px;
            font-weight: 600;
        }
        b{
            color: black;
        }
        p span{
            color: #9b9b9b;
            font-weight: 500;
            font-size: 14px;
        }
        p b{
            color: #fb4226;
            font-weight: 500;
        }
        a{
            font-size: 24px;
            font-weight: 400;
            color: #417500;
            margin: 0 3px 15px 12px;
            transition: all .2s;
            text-decoration: none;
        }
        a:hover{
            color: #fb4226;
        }
    }
}
/*css row 1 2 hinh anh va lich chieu*/
#chitietphim{
    margin-top:60px;
    background-color: rgb(10, 32, 41);
    min-height: 800px;
    color: #fff;
}
.img_movie{
    width: 200px;
    height: 280px;
    width: 200px;
    height: 280px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
}
.desc_movie {
    padding-top:15%;
    .phone,.title,.time{
            line-height: 0.5;
    }
    .title{
        font-size: 24px;
       
    }
    
}
.menu{
    margin: auto;
    .menu_color{
        color: #fb4226;
    }
    a{
        color: #fff;
        font-size: 18px;
    }
}
.overflow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 247, 247, 0.05);
}