<div id="myCarousel">

  <owl-carousel [options]="mySlideOptions" [items]="dsPhim" [carouselClasses]="['owl-theme', 'sliding']">
    <div class="item" *ngFor="let phim of dsPhim; let i = index">
      <div>
        <img src={{phim.HinhAnh}} />
        <!-- Button trigger modal -->
        <button type="button" class="btn playTrailer" data-toggle="modal" data-target="#modalTrailer">
          <i class="fa fa-play-circle"></i>
        </button>
      </div>
    </div>
  </owl-carousel>


  <!-- Modal -->
  <!-- <div id="modalTrailer" class="modal fade" id="modalTrailer" tabindex="-1" role="dialog">
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <iframe width="100%" height="100%" allowfullscreen="" frameborder="0"
            src="https://www.youtube.com/embed/CPkQui4g14Y?autoplay=0">
          </iframe>
        </div>
      </div>
    </div>
  </div> -->


</div>