<div id="myCarousel">

  <owl-carousel [options]="mySlideOptions" [items]="dsPhim" [carouselClasses]="['owl-theme', 'sliding']">
    <div class="item" *ngFor="let phim of dsPhim; let i = index">
      <div>
        <img src={{phim.HinhAnh}} />
        <!-- Button trigger modal -->
        <button type="button" class="btn playTrailer" data-toggle="modal" data-target="#modalTrailer"
          (click)="playTrailer(phim.Trailer)">
          <i class="fa fa-play-circle"></i>
        </button>
      </div>
    </div>
  </owl-carousel>
  <app-tab-search-movie></app-tab-search-movie>
</div>

<app-play-movie-trailer [srcTrailer]="srcTrailer"></app-play-movie-trailer>