/*Màu*/
$color-main: #F56E33; //Tông màu chính của trang
$color-white: #ffffff; //Màu trắng

$color-chuNavbar:rgba(255,255,255,.9); //Màu chữ navbar
$color-nenNavbar:#13151F;
$color-bgMovieDetail:rgb(37, 38, 44);

/*Text shadow*/ 
$color-shadow: rgb(235, 160, 128);

/*Chiều rộng*/
$width-logo: 200px; //Chiều rộng ảnh logo

/*Chiều cao*/
$heigh-navbar: 60px; //Chiều cao navbar

/*Carousel*/

/*Font chữ*/
$font-main: 'Kodchasan', sans-serif;

/*Font-Size*/
$fs-main: 14px;