/*Màu*/
$color-main: #F56E33; //Tông màu chính của trang
$color-white: #ffffff; //Màu trắng
$color-chuNavbar:rgba(255,255,255,.7); //Màu chữ navbar
$color-nenNavbar:rgba(19, 21, 31, 0.9);
/*Font chữ*/
$font-main: 'Kodchasan', sans-serif;

/*Font-Size*/
$fs-main: 14px;