<div class="newsReview">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
            src="./assets/img/news/review-captain-marvel-co-gai-co-doi-tay-vang-cua-lang-sieu-anh-hung-15518682803241.jpg"
            data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text">[Review] Captain Marvel - Cô gái có đôi tay vàng của làng siêu anh hùng. Captain Marvel
              là bước đệm an toàn cho siêu bom tấn Avengers: Endgame sắp ra mắt.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn" routerLink="/home/reviewdetail">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/review-hai-phuong-phim-hanh-dong-viet-mau-lua-nhat-ke-tu-dong-mau-anh-hung-15506475437941.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">[Review] Hai Phượng: Phim hành động Việt máu lửa nhất kể từ Dòng Máu Anh Hùng</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn  btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/review-sinh-nhat-chet-choc-2-ven-man-bi-an-ve-vong-lap-tu-than-15505650458980.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">[Review] Sinh Nhật Chết Chóc 2: Vén màn bí ẩn về vòng lặp tử thần.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn  btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/review-vu-quy-dai-nao-khi-ngoc-trinh-ca-bai-bao-gio-lay-chong-cua-bich-phuong-15502279416049.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">[Review] Vu Quy Đại Náo - Khi Ngọc Trinh ca bài ‘bao giờ lấy chồng’ của Bích Phương</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn  btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/review-tro-ly-het-y-tinh-ban-chan-thanh-tu-hai-the-gioi-doi-lap-nhau-15480615445359.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">[Review] Trợ Lý Hết Ý – Tình bạn chân thành từ hai thế giới đối lập nhau.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn  btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/review-dai-ca-hoa-soai-ca-co-gi-hot-khi-2-trai-dep-hoan-doi-than-xac-15478071195059.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">[Review] Đại Ca Hóa Soái Ca - Có gì hot khi 2 trai đẹp hoán đổi thân xác?</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn  btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/review-bo-ba-quai-nhan-man-do-suc-va-dau-tri-bat-ngo-den-phut-chot-15478041917362.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">[Review] Bộ Ba Quái Nhân - Màn đọ sức và đấu trí bất ngờ đến phút chót.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn  btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/review-diep-van-ngoai-truyen-truong-thien-chi-tiep-noi-vinh-quang-vinh-xuan-quyen-15473610731706.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">[Review] Diệp Vấn Ngoại Truyện: Trương Thiên Chí - Tiếp nối vinh quang Vịnh Xuân quyền.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>