<div class="newsPromotion">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
            src="./assets/img/news/123phim-uu-dai-50-mua-phim-cuoi-nam-15444981688763.png" data-holder-rendered="true">
          <div class="card-body">
            <p class="card-text">[CyberMovie] Ưu đãi 50% mùa phim cuối năm. Cuối năm ngập tràn niềm vui với mã #MERRY50
              của
              123Phim, ưu đãi ngay 50%</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/cns-nhanh-tay-nhan-li-xi-100-rinh-loc-lon-15490894799219.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">[CyberMovie] Nhanh tay nhận Lì xì - 100% Rinh lộc lớn.
              Tất cả khách hàng khi mua từ 2 vé phim bất kỳ trở lên trong thời gian từ Ngày 05.02.2019 đến ngày
              09.02.2019 sẽ được tặng 1 bao lì xì</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="./assets/img/news/shopee-cung-shopee-khoe-tai-sam-tet-cuc-cool-chi-voi-48k-15471774252864.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">[Shopee] Cùng Shopee khoe tài sắm Tết cực ‘cool’ chỉ với 48K. Shopee tưng bừng sale sập
              sàn với chương trình Shopee Tết Sale diễn ra từ hôm nay cho đến hết ngày 17/01/2019.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" src="./assets/img/news/123phim-mot-ve-hai-ba-15441723120519.png"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">[123Phim] Một Vé Hai Ba. Nhập ngay #TICKET23, một vé đầu tiên giá 23k</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]"
            src="../../../../../assets/img/news/ddc-mua-online-tang-ngay-ve-15435704565029.jpg"
            data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">[DDC] Mua online tặng ngay vé. Mua vé thời công nghệ 4..0. Click mua 4 vé, tặng vé 0
              đồng</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-danger my-btn">Xem</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>