<app-breadcrumb [data]="breadcrumbData"></app-breadcrumb>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <!-- Default box -->
      <div class="box box-primary ">
        <div class="box-header d-flex align-items-center justify-content-between m-1 mb-2">
          <h3 class="box-title ">
            <i class="fa fa-list-alt mr-2"></i>Danh sách phim
          </h3>
          <button type="button" class="btn btn-success" routerLink="/admin/movieadd"><i class="fa fa-plus"></i>
            Thêm</button>
        </div>
      </div>

      <div class="box-body">
        <table class="table table-responsive-md table-striped">
          <thead>
            <tr>
              <th>Mã Phim</th>
              <th>Tên Phim</th>
              <th>Ngày Khởi Chiếu</th>
              <th>Hình Ảnh</th>
              <th>Mô Tả</th>
              <th>Thao Tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movie of movieArray">
              <td class="align-middle" scope="row" style="width: 10%">{{movie.MaPhim}}</td>
              <td class="w-25 align-middle">{{movie.TenPhim}}</td>
              <td class="w-25 align-middle">{{movie.NgayKhoiChieu}}</td>
              <td class="align-middle"><img [src]="movie.HinhAnh" alt=""> </td>
              <td class="w-50 text-justify align-middle">{{movie.MoTa}}</td>
              <td class="align-middle">
                <div class="btn-group">
                  <button class="btn btn-primary" title="Sửa Phim" routerLink="/admin/movieedit/{{movie.MaPhim}}">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-danger" title="Xóa Phim" (click)="acceptDelete(movie.MaPhim,movie.TenPhim)">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>