<div class="contact mb-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header my-bg text-uppercase text-white"><i class="fa fa-envelope"></i>  Thông tin liên hệ
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="name">Họ Tên:</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Nhập họ tên"
                  required="">
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                  placeholder="Nhập email" required="">
              </div>
              <div class="form-group">
                <label for="message">Tin nhắn:</label>
                <textarea class="form-control" id="message" rows="6" required=""></textarea>
              </div>
              <div class="mx-auto">
                <button type="submit" class="btn btn-outline-danger my-btn text-right">Gửi</button></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="card bg-light mb-3">
          <div class="card-header my-bg text-white text-uppercase"><i class="fa fa-home"></i>  Địa chỉ liên hệ</div>
          <div class="card-body">
            <p>82 Ung Văn Khiêm, Bình Thạnh, HCM</p>
            <p>Email : info@cybersoft.edu.vn</p>
            <p>Số ĐT: 0961.05.10.14</p>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>