
<div class="container-fluid pt-md-4">
  <div class="row">
    <div class="col-md-9 container">
      <div class="ml-2 pt-md-5 text-center content_left">
        <img class="img-thumbnail img_screen" src="../../../../assets/img/screen.png" alt="">
        <br />
        <div class="w-75" style="margin: 0 auto;">
            <ng-container *ngFor="let ghe of DanhSachGhe; let i = index">
              <app-ghe (eventDatGhe)="datGhe($event)" [ghe]="ghe" > 
                <br *ngIf="(i+1)%10 ==0 " />
              </app-ghe> 
            </ng-container>
        
           

        </div>
        <div class="my-5">
            
          <span class="desc_icon desc_ghedangchon" >Ghế đang chọn</span>
        
        
       
          <span class="desc_icon desc_ghetrong">Ghế trống</span>
          <span class="desc_icon desc_ghedachon">Ghế đã chọn</span>
        </div>
      </div>
    </div>
    <div class="col-md-3  content_right mt-md-4">
      <img class="mt-md-4 img-thumbnail" src="{{phim.HinhAnh}}" alt="" width="200" height="250">
      <h3 class="txt_orange"> {{phim.TenPhim}}</h3>
      <p><span  class="txt_green font-weight-bold"><i class="fa fa-home"></i>  Rạp:</span>{{TenRap}}</p>
      <p> <span class="txt_green font-weight-bold"><i class="fa fa-clock-o"></i> Suất chiếu:</span>{{ngayChieuGioChieu | date:'dd-mm-yyyy hh:mm:ss'}} </p>
      <p> <span  class="txt_green font-weight-bold"><i class="fa fa-ticket"></i> Vé: </span>
        <span *ngFor ="let gheDangDat of DanhSachGheDangDat">
          {{gheDangDat.TenGhe}}
        </span>
      </p>
      <b> <span  class="txt_orange font-weight-bold">Tổng  </span>: {{tongTien | number}} </b> 
      <br/>
      <button class="btn" (click)="datVe()">ĐẶT VÉ</button>
    </div>
  </div>
</div>
