<div class="container tabSearch d-xs-none">
  <div class="block">
    <select class="itemSearch" name="movieCode" id="" [(ngModel)]="movieCode" (change)="movieDetail()">
      <option selected>Phim</option>
      <option value="{{movie.MaPhim}}" *ngFor="let movie of movies">{{movie.TenPhim}}
      </option>
    </select>

  </div>


  <div class="block">
    <select class="itemSearch" name="" id="">
      <option selected>Rạp</option>
      <option *ngFor="let rap of selectmovieDetail.LichChieu">{{rap.Rap.TenRap}}</option>
    </select>
  </div>
  <div class="block">
    <select class="itemSearch" name="" id="">
      <option selected>Ngày xem</option>
      <option *ngFor="let date of selectmovieDetail.LichChieu">{{date.NgayChieuGioChieu|date}}</option>
    </select>
  </div>
  <div class="block">
    <select class="itemSearch last-item" name="" id="">
      <option selected>Suất chiếu</option>
      <option *ngFor="let date of selectmovieDetail.LichChieu">{{date.NgayChieuGioChieu|date:'H:mm'}}</option>
    </select>
  </div>
  <div class="block">
    <a>MUA VÉ NGAY</a>
  </div>


</div>